<!DOCTYPE html>
<html lang="en">

<head>
    <title>GPT-Neo</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <style>

      input[type="radio"]:focus {
          outline: none;
          box-shadow: none; 
      }

    </style>
</head>

<body class="bg-gray-900 h-full">
    
    <section class="text-gray-400 body-font relative">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-6">
            <h1 class="sm:text-4xl text-2xl font-medium title-font mb-4 text-white">GPT-Neo</h1>
            <p class="w-[40rem] mx-auto leading-relaxed text-base">An implementation of model & data parallel GPT3-like models using the mesh-tensorflow library, running in Python and hosted in Flask with Docker.</p>
          </div>
          <div class="w-[40rem] mx-auto">
            <div class="flex flex-wrap -m-2">
              <div class="p-2 w-full">
                <div class="relative">
                  <input type="text" id="prompt" name="prompt" placeholder="Enter prompt here..." class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                </div>
              </div>
              <div class="p-2 w-full">
                <button id="generate-button" onclick="Generate()" type="button" class="text-white focus:ring-4 rounded-lg text-lg px-5 py-2.5 mr-2 bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-blue-800 w-full">Generate</button>
                <button id="processing-button" style="display: none;" disabled type="button" class="py-2.5 px-5 mr-2 text-lg rounded-lg border focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 bg-gray-800 text-gray-400 border-gray-600 hover:text-white hover:bg-gray-700 inline-flex items-center w-full justify-center">
                    <svg role="status" class="inline w-4 h-4 mr-2 text-gray-200 animate-spin text-gray-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2"/>
                    </svg>
                    Processing...
                </button>
              </div>
              <div id="alert" style="display: none;" class="text-sm text-red-700 bg-red-100 rounded-lg bg-red-200 text-red-800 m-2 p-1 text-center w-full" role="alert">
                <span class="font-medium">Error: </span>Please enter a non-empty prompt.
              </div>
              <div class="p-2 w-full">
                <div class="relative">
                  <textarea id="result" name="result" placeholder="Result will be shown here..." class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 h-80 text-base outline-none text-gray-100 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
                </div>
              </div>
              <div class="m-2 w-full my-4 border-t border-gray-800 text-center">
              </div>

              <!-- Settings -->
              <div class="px-2 w-full">

                <div class="relative">
                  <label for="settings" class="leading-7 text-sm text-gray-400">Selected Model (JSON)</label>
                  <div class="p4 flex flex-col flex-wrap h-[4rem]">
                    <div class="flex items-center mr-4">
                        <input disabled id="inline-radio" type="radio" value="gpt2" name="inline-radio-group" class="w-4 h-4 text-blue-600 focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
                        <label for="inline-radio" class="ml-2 text-sm font-medium text-gray-900 text-gray-300">GPT-2 (Medium)</label>
                    </div>
                    <div class="flex items-center mr-4">
                        <input disabled id="inline-radio" type="radio" value="gpt2-large" name="inline-radio-group" class="w-4 h-4 text-blue-600 focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
                        <label for="inline-radio" class="ml-2 text-sm font-medium text-gray-900 text-gray-300">GPT-2 Large (Slow)</label>
                    </div>
                    <div class="flex items-center mr-4">
                        <input disabled id="inline-radio" type="radio" value="gpt2-xl" name="inline-radio-group" class="w-4 h-4 text-blue-600 focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
                        <label for="inline-radio" class="ml-2 text-sm font-medium text-gray-900 text-gray-300">GPT-2 XL (Very Slow)</label>
                    </div>
                    <div class="flex items-center mr-4">
                        <input disabled id="inline-radio" type="radio" value="gpt2-distil" name="inline-radio-group" class="w-4 h-4 text-blue-600 focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
                        <label for="inline-radio" class="ml-2 text-sm font-medium text-gray-900 text-gray-300">GPT-2 Distil (Fast)</label>
                    </div>
                    <div class="flex items-center mr-4">
                        <input disabled id="inline-radio" type="radio" value="gpt-neo-125m" name="inline-radio-group" class="w-4 h-4 text-blue-600 focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
                        <label for="inline-radio" class="ml-2 text-sm font-medium text-gray-900 text-gray-300">GPT-Neo 125m (Medium)</label>
                    </div>
                    <div class="flex items-center mr-4">
                        <input disabled id="inline-radio" type="radio" value="gpt-neo-1.3B" name="inline-radio-group" class="w-4 h-4 text-blue-600 focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
                        <label for="inline-radio" class="ml-2 text-sm font-medium text-gray-900 text-gray-300">GPT-Neo 1.3B (Very Slow)</label>
                    </div>
                    <div class="flex items-center mr-4">
                        <input disabled id="inline-radio" type="radio" value="gpt2-academic" name="inline-radio-group" class="w-4 h-4 text-blue-600 focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
                        <label for="inline-radio" class="ml-2 text-sm font-medium text-gray-900 text-gray-300">GPT-2 Academic (Fast)</label>
                    </div>
                </div>
                </div>
                <div class="relative">
                  <label for="settings" class="leading-7 text-sm text-gray-400">Model Configuration (JSON)</label>
                  <textarea id="settings" name="settings" spellcheck="false" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 h-80 text-base outline-none text-gray-100 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
                  <a href="https://happytransformer.com/text-generation/settings/" class="leading-7 text-sm text-blue-400" target="_blank">Documentation for Happy Transformer GPT-Neo settings</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <script>

        // Get prompt from url
        var url = new URL(window.location.href);
        var prompt = url.searchParams.get("prompt");
        if (prompt != null) {
          document.getElementById("prompt").value = prompt;
        }

        function GetSupportedModels()
        {
          // Get supported models from api
          var xhr = new XMLHttpRequest();
          xhr.open("GET", "/api/supported-models", true);
          xhr.onload = function() {
            if (xhr.status == 200) {
              var supportedModels = JSON.parse(xhr.responseText);
              
              // Get radio buttons
              var radioButtons = document.getElementsByName("inline-radio-group");

              let isFirst = true;

              // Loop through supported models
              for (let model of supportedModels) {
                for (let radioButton of radioButtons) {
                  if (radioButton.value == model) {
                    radioButton.disabled = false;
                    if (isFirst) {
                      radioButton.checked = true;
                      isFirst = false;
                    }
                  }
                }
              }
            }
          };
          xhr.send();
        }

        GetSupportedModels();

        function AddDefaultSettings()
        {
          let settings = {
            min_length: 10, 
            max_length: 50,
            do_sample: true, // Default = false
            early_stopping: false,
            num_beams: 1,
            temperature: 0.7, // Default = 1.0
            top_k: 50,
            no_repeat_ngram_size: 2, // Default = 0
            top_p: 1.0,
            bad_words: null,
          }

          document.getElementById("settings").value = JSON.stringify(settings, null, 2)
        }

        AddDefaultSettings();

        function Generate()
        {
            var prompt = document.getElementById("prompt").value;
            var result = document.getElementById("result");

            // Prevent empty prompt
            if (prompt == "")
            {
                document.getElementById("alert").style.display = "block";

                // wait for 2 seconds and hide the alert
                setTimeout(function() {
                    document.getElementById("alert").style.display = "none";
                }, 5000);

                return;
            }
            else{
              // Save prompt to url
              var url = new URL(window.location.href);
              url.searchParams.set("prompt", prompt);
              window.history.replaceState({}, "", url.href);
            }

            document.getElementById("generate-button").style.display = "none";
            document.getElementById("processing-button").style.display = "";

            // Get settings as single url string
            var settings = JSON.parse(document.getElementById("settings").value);

            // Get model from radio buttons
            var model = document.querySelector('input[name="inline-radio-group"]:checked').value;
            
            // Make post request with json data
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/api/generate", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.timeout = 60*30*1000; // 30 minutes
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Get json response
                    let response_json = JSON.parse(xhr.responseText);
                    result.value = response_json.prompt + response_json.text;
                    document.getElementById("generate-button").style.display = "";
                    document.getElementById("processing-button").style.display = "none";
                }
            };
            xhr.send(JSON.stringify({
                prompt: prompt,
                model: model,
                settings: settings
            }));
        }

      </script>

</body>

</html>